body{
    width: 100%;
    margin: auto;
}
.board-row{
    display: flex;
    justify-content: center;
}
.square{
    height: 7rem;
    width: 7rem;
    font-size: 4rem;
    margin: 0;
    padding: 0;

    
}

.status{
    text-align: center;
    font-size: 2rem;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-order{
    background-color: rgb(0, 178, 238);
    color: aliceblue;
    height: 2rem;
    border-radius: .5rem;
}
.game-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}